---
layout: default
title: Devices
permalink: devices/
redirect_from: devices.html
search: exclude
---

<script type="text/javascript">
function toggleDiscontinued()
{
  $('.discontinued').toggle();
  $("table.device").each(function () {
    vendor = $(this).attr("vendor");
    if ($(this).find("tbody > tr:visible").length == 0 && $(this).is(":visible")) {
      $("*[vendor=" + vendor + "]").hide();
    } else {
      $("*[vendor=" + vendor + "]").show();
    }
  });
}
</script>

<div class="container page">

  <h1>{{ page.title }}</h1>

  颜色较浅的为官方停更设备<br/>
  你可以通过取消勾选以下复选框来隐藏它们:<br/><br/>

{% assign devices = "" | split: " " %}
{% for device in site.data.devices %}
{% assign devices = devices | push: device[1] %}
{% endfor %}

{% assign sorted = devices | sort_natural: 'name' | sort_natural: 'vendor' %}
{% assign lastVendor = "" %}

<div class="form-check form-check-inline">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" onclick="toggleDiscontinued()" checked="checked">显示停更设备<span class="form-check-sign">
        <span class="check"></span>
    </span>
  </label>
</div><br/><br/>

选择厂商来快速跳转:<br/>

<div class="vendor-container">
{%- assign vendors = "" | split: " " %}
{%- for device in sorted %}
{%- if device.vendor != lastVendor %}
{%- assign vendors = vendors | push: device.vendor %}
{%- assign lastVendor = device.vendor %}
  <div vendor="{{ lastVendor | slugify }}"><a href="#{{ lastVendor | slugify }}" vendor="{{ lastVendor | slugify }}">{{ lastVendor }}</a></div>
{%- endif %}
{%- endfor %}
</div>

{% for device in sorted %}
{% if device.vendor != lastVendor %}
{% assign lastVendor = device.vendor %}

<h2 class="h3" id="{{ device.vendor | slugify }}" vendor="{{ device.vendor | slugify }}">{{ device.vendor}}</h2>

<table class="table device" vendor="{{ device.vendor | slugify }}">
  <thead>
  <tr>
    <th scope="col" class="first"><b>设备</b></th>
    <th scope="col"><b>设备代号</b></th>
    <th scope="col" class="last"><b>类型</b></th>
  </tr>
  </thead>
{% endif %}
{% if device.vendor == "OnePlus" %}{% assign deviceName = device.vendor | append: ' ' | append: device.name %}
{% else %}{% assign deviceName = device.name %}{% endif %}
{% assign url = "devices/" | append: device.codename | relative_url %}
{%- if device.maintainers == empty %}{% assign class="discontinued" %}
{%- else %}
{%- assign class="" %}
{%- endif %}
  <tr class="{{ class }}">
    <th scope="row" onClick="location.href='{{ url }}'"><a href="{{ url }}">{{ deviceName }}</a></th>
    <td onClick="location.href='{{ url }}'"><a href="{{ url }}">{{ device.codename }}</a></td>
    <td>{{ device.type | capitalize }}</td>
  </tr>
{% if sorted[forloop.index].vendor != lastVendor %}</table>{% endif %}
{% endfor %}
</div>
